<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=ppf_users;Integrated Security=true;" providerName="System.Data.SqlClient" />
      <add name="PPF" connectionString="Data Source=.\sqlexpress;Initial Catalog=ppf;Integrated Security=true;" providerName="System.Data.SqlClient" />
      <add name="ppfEntities" connectionString="metadata=res://*/Models.PPF.csdl|res://*/Models.PPF.ssdl|res://*/Models.PPF.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\sqlexpress;Initial Catalog=ppf;Integrated Security=true;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
