@{
    ViewBag.Title = "About";
}
<h1>About Gridiron Predict</h1>
<p>
Gridiron Predict came as a result of listening to numerous friends talk about who picked the most correct game winners and Playoff/Super Bowl contender.  
The pick and scoring processes were continuously tweaked until the program was capable of capturing how well a football enthusiast could predict a professional 
football season.</p><p>Gridiron Predict has since been a part of numerous school projects in both my undergraduate and graduate level studies.  
Gridiron Predict was then submitted to the United States Office of Patent's and Registration's.</p><p>Moving forward, Charean Williams, 
a family friend who is the Fort Worth Star-Telegram’s NFL writer and a special appearance analyst on ESPN2’s "FIRST TAKE" was 
asked to play during the 2008 season. She enjoyed it so much the decision was made to publicize a web site to provide an avenue for other 
Football enthusiasts to enjoy Gridiron Predict.  We hope you enjoy the game and please feel free to share the web site with others. 
</p>