@{
    ViewBag.Title = "How to Pick";
}

<h1>Gridiron Predict</h1>
<h2>HOW TO PICK</h2>

<p>The Goal of Gridiron Predict is to accumulate as many points as possible
beginning with the first game of the season, through wild card, the playoffs, Conference
Championship games and the Super Bowl. However, if you are starting later in the
season, that is OK.</p>
<p>
The basic premise is this:</p>
<ul>
<li>
Pick a winner for every game each week, and rank those picks from 1-16,
assuming there are 16 games that week. (It would be 1-13 if there are 13 games
that week, etc…)
</li>
<li>
The 16th pick would be the game you felt most confident in picking the winner.
Your No. 1 choice, which would get you only one point for picking the correct
winner, might be an upset or just one in which you are not real confident.
</li>
<li>
You can only use each number once. If the team you put the points on wins, you
receive the number of points you put on that team. (See example below)
</li>
</ul>
<img src='@Url.Content("~/Content/img/pick_screen.png")' alt="Gridiron Predict Pick Screen" style="margin-top: 15px; margin-bottom: 15px;" />
<ul class="noindent">
<li>Confidence in New Orleans beating Green Bay is high.</li>
<li>Confidence in Chicago beating Atlanta is low.</li>
<li>Confidence in Cincinnati beating Cleveland is medium.</li>
</ul>
<p>As you can see, the goal is to accumulate as many points as possible in each week and for
the season.  Picks continue through the Super Bowl, so in the wild card week of the playoffs,
you are picking four games, applying 5 points, 10 points, 15 points, and 20 points,
with 20 used as the game you’re most confident. The same goes for the second
week of the playoffs.  In the Conference Championship Games, the team you’re most confident in
would be assigned 30 points, with the predicted winner of the other game
assigned 20 points.  The Super Bowl pick is worth 50 points.
</p>
<h2>PREDICTING THE Playoffs and Super Bowl</h2>
<p>
Here’s the bonus part:
You also pick the playoff teams, as well as the Super Bowl winner every
week beginning in Week 1.  That’s six playoff teams in the NFC, six playoff teams in the AFC
as well as a team from each conference that you think will go to
the Super Bowl.  So if you had picked: San Diego, Indianapolis, Baltimore, N.Y.
Jets, Minnesota, New Orleans, Arizona, N.Y. Giants, Dallas, and
in Week 1 of the 2009 season, you would have received 17 points
(one for each week of the season) for each of those 12 picks for a
total of 136 extra points at the end of the season.  If you picked say only two of those teams in Week 1, you would
have received 34 extra points at the end of the season.  Again, the point values for predicting playoff teams go down each week,
down to 1 point for each correct playoff pick in Week 17. By then, some
teams already have clinched, and you pretty much know who the others
are going to be, so that is reflected in the point values. (See example
below)</p>
<img src='@Url.Content("~/Content/img/playoff_sb_pick_screen.png")' alt="Gridiron Predict Playoff/Superbowl Pick Screen" style="margin-top: 15px; margin-bottom: 15px;" />
<p>
The point system for the Super Bowl picks works the same way as the playoff picks  Except the points are doubled.  In Week one, the Super Bowl picks are worth 34 points; in Week two
the Super Bowl picks are worth 32 points… in Week 17, the Super Bowl picks are worth 2 points. For instance, if you had picked the Saints to go to the Super Bowl in Week 1 of the 
2009 season, you would have gotten 34 extra points after the
Super Bowl. The next week, that choice would have been worth 32 points,
on down to 2 points for Week 17.
</p>
<h2>Standard Picks are Available</h2>
<p>
Don’t be deterred if you didn’t start from the beginning of the season, just take the
standard picks. The standard picks are not going to put you on top of the leader board;
however, if you’re good enough, you can catch up.
</p>
<h2>Last Minute thoughts...</h2>
<p>
Be sure to make your picks before the first kickoff of the week.
The beginning of the week will be Sunday’s first game, UNLESS…
There is a preceding Thursday, Friday, or Saturday game(s), in which case the
first of those games will start the week.
Monday Night Football is always the end or last game of the week.
If a tie exists for the total season points, the player who picked the most playoff/
Super Bowl teams in Week 1 will win the tie. If a tie still exists, Gridiron Predict
will use Week 2 in the same respect, then Week 3...We hope you enjoy Gridiron Predict!
</p>
