@{
    ViewBag.Title = "Privacy Policy";
}

<h1>Gridiron Predict Privacy Policy</h1>
<p>
Gridiron Predict considers the maintenance of user privacy to be extremely important. Following is a description of the manner in which Gridiron Predict manages user information (“Privacy Policy” or “Policy”).
Scope.  The Policy covers describes the manner in which Gridiron Predict treats personal information that it collects and/or receives, including information related to a user’s historical use of Gridiron Predict and Gridiron Predict affiliate services. A user’s personal information is information that is personally identifiable, such as the user’s name, address, email address, or phone number, and that is not otherwise publicly available. 
The Gridiron Predict Privacy Policy does not apply to the practices of companies that Gridiron Predict does not own or control, or to people or entities that Gridiron Predict does not employ or manage. In addition, certain Gridiron Predict affiliates and promotional partners may have their own privacy policy(ies), which may be viewed separately at the affiliates’ or partners’website(s), as applicable. 
</p>
<h2>
Collection and Use of User Information</h2>
<p>
General<br />
Gridiron Predict collects personal information when you register with Gridiron Predict.com, or with an affiliate fantasy sports or content partner of Gridiron Predict.com. Gridiron Predict may record information when you visit Gridiron Predict.com pages or the pages of Gridiron Predict affiliates. Gridiron Predict may combine information it collects with information it obtains from business partners or other companies. 
When you register, Gridiron Predict may asks for information such as your name, email address, age, gender, zip code, occupation, and referral information. Once you register with Gridiron Predict and sign in to our services, you are not anonymous to us. 
As part of the registration process, you may be given an option to receive periodic email promotions from Gridiron Predict partners. You may change your preferred setting in this regard at any time by visiting your “My Profile” link or emailing gridironpredict@gmail.com. 
Gridiron Predict collects information about your transactions with us and with some of our business partners. Gridiron Predict automatically receives and records information on our server logs from your browser, including your IP address, Gridiron Predict and/or affiliate cookie information, and the page(s) you request. 
Gridiron Predict uses the information for the following general purposes: to customize the advertising and content you see, fulfill your requests for products and services, improve our services, contact you, conduct research, and provide anonymous reporting for internal and external clients. If you opt to receive periodic email promotions from Gridiron Predict partners, Gridiron Predict may also use your information to send you the promotions, or may make your information available to partners to send the promotions. Should you change your mind, and wish to stop receiving promotional offers from Gridiron Predict or its partners, you can follow the “Unsubscribe” link in any email that you receive, or you can send an email to gridironpredict@gmail.com with the word “Unsubscribe” in the subject line. 
</p>
<h2>
Information Sharing and Disclosure</h2>
<p>
Gridiron Predict does not rent, sell, or share personal information about you with other people or nonaffiliated companies, except to provide promotional materials for products or services when we have your permission, or under the following circumstances: 
We provide the information to trusted partners who work on behalf of or with Gridiron Predict under agreements restricting the use of user information in substantially the same manner as set forth in this Policy. These companies may use your personal information to help Gridiron Predict communicate with you about offers from Gridiron Predict and our marketing partners. 
We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims; 
We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Gridiron Predict’ terms of use, or as otherwise required by law. 
We transfer information about you if Gridiron Predict is acquired by or merged with another company. In this event, Gridiron Predict will notify you before information about you is transferred and becomes subject to a different privacy policy. 
Gridiron Predict displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may assume that people who interact with, view, or click on targeted ads meet the targeting criteria. 
Gridiron Predict does not provide any personal information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption that you meet the targeting criteria used to display the ad. 
Gridiron Predict does not share your credit card information or other payment information with outside parties, except as may be necessary to process payments that you authorize, or as may be required by order of law. Gridiron Predict is free.
</p>
<h2>
Cookies</h2>
<p>
Gridiron Predict may set and access Gridiron Predict cookies on your computer. 
Gridiron Predict may permit advertisers on some of its pages set and access their cookies on your computer. Other companies’ use of their cookies is subject to their own privacy policies, not this Policy. Advertisers or other companies do not have access to Gridiron Predict’ cookies. 
</p>
<h2>
Your Ability to Edit Your Account Information and Preferences</h2>
<p>General<br />
You can edit your Gridiron Predict user profile, including your personal information and marketing preferences, at any time. 
New categories of marketing communications may be added to the opt-in section of your Profile page from time to time. Users who visit this page can opt out of receiving future marketing communications from these new categories or they can unsubscribe by following instructions contained in the messages they receive. 
Gridiron Predict reserves the right to send you certain communications relating to the Gridiron Predict service, such as service announcements, administrative messages and game newsletters, that are considered part of your Gridiron Predict account, without offering you the opportunity to opt-out of receiving them. 
You can unsubscribe from your account by replying to any Gridiron Predict email with the word “Unsubscribe” in the reply subject line. 
</p>
<p>
Confidentiality and Security<br />
We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs. 
Gridiron Predict employs physical, electronic, and procedural safeguards that comply with federal regulations to protect personal information about you. 
</p>
<h2>
Changes to this Privacy Policy</h2>
<p>
Gridiron Predict may update this Policy at any time. Gridiron Predict will notify you about significant changes in the way it treats personal information by sending a notice to the primary email address specified in your Gridiron Predict account or by placing a prominent notice on our site. 
</p>
<h2>
Questions and Support</h2>
<p>
If you have questions about this Policy, including any relationship between Gridiron Predict and its affiliates and/or partners, please send an email to gridironpredict@gmail.com.
</p>
<h1>
Gridiron Predict Terms of Service</h1>
<ol>
<li>ACCEPTANCE OF TERMS<br />
Gridiron Predict, L.L.C. (“Gridiron Predict”) provides its service to you, subject to the following Terms and Conditions of Use ( the “Terms”), which may be updated by us from time to time without notice to you. Your use of this, or any Gridiron Predict Web Site constitutes your agreement to all such terms, conditions, policies and notices (the “Agreement”).</li>
<li>DESCRIPTION OF SERVICE<br />
Gridiron Predict provides users with access to a rich collection of resources through its network of properties (the “Service”). Unless explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new Gridiron Predict properties, shall be subject to the Terms. You understand and agree that the Service is provided “AS-IS” and that Gridiron Predict assumes no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings.
You are responsible for obtaining access to the Service and that access may involve third party fees (such as Internet service provider or airtime charges). You are responsible for those fees, including those fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the Service.</li>
<li>MODIFICATIONS TO SERVICE<br />
Gridiron Predict reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that Gridiron Predict shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
Gridiron Predict may change, add or remove any part of this Agreement, or any other terms associated with the use of the site, at any time, by posting a notice of such changes to the Terms of Service page of the web site. Any changes shall become part of the Agreement and shall apply as soon as such a notice is posted. By continuing to use Gridiron Predict properties after the notice is posted, you are indicating your acceptance of those changes.</li>
<li>SPONSORS, THIRD PARTIES AND ADVERTISERS<br />
Your correspondence or business dealings with, or participation in promotions of, sponsors, third parties or advertisers found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such sponsor, third party or advertiser. You agree that Gridiron Predict shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such sponsors, third parties or advertisers on the Service.</li>
<li>LINKS<br />
Gridiron Predict may provide, or third parties may provide, links to other World Wide Web sites or resources. Because Gridiron Predict has no control over such sites and resources, you acknowledge and agree that Gridiron Predict is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, accuracy, quality, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that Gridiron Predict shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.</li>
<li>DISCLAIMER OF WARRANTIES<br />
YOU EXPRESSLY UNDERSTAND AND AGREE THAT:<br />
<ol>
<li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. GRIDIRON PREDICT EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
<li>GRIDIRON PREDICT MAKES NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED, (vi) OR THAT THIS WEB SITE, ITS CONTENT, AND THE SERVERS ON WHICH THE WEB SITE AND CONTENT ARE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</li>
<li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
<li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM GRIDIRON PREDICT OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.</li>
<li>THIS WEB SITE MAY CONTAIN VARIOUS COMBINATIONS OF TEXT, IMAGES, AUDIOVISUAL PRODUCTIONS, OPINIONS, STATEMENTS, FACTS, ARTICLES, MARKET DATA, STOCK QUOTES OR OTHER INFORMATION CREATED BY GRIDIRON PREDICT OR BY THIRD-PARTIES. DUE TO THE NUMBER OF SOURCES FROM WHICH CONTENT IN THIS SITE IS OBTAINED, AND THE INHERENT HAZARDS OF ELECTRONIC DISTRIBUTION, THERE MAY BE DELAYS, OMISSIONS OR INACCURACIES IN SUCH CONTENT. ACCORDINGLY, SUCH CONTENT, INCLUDING THE MARKET DATA, IS FOR YOUR REFERENCE ONLY AND SHOULD NOT BE RELIED UPON BY YOU FOR ANY PURPOSE. SUCH CONTENT IS NOT INTENDED FOR THE PURPOSE OF TAX OR INVESTMENT ADVICE AND IT DOES NOT ADVOCATE THE PURCHASE OR SALE OF ANY SECURITY OR INVESTMENT.</li>
<li>INFORMATION CREATED BY THIRD PARTIES THAT YOU MAY ACCESS ON THE SITE OR THROUGH LINKS IS NOT ADOPTED OR ENDORSED BY GRIDIRON PREDICT AND REMAINS THE RESPONSIBILITY OF SUCH THIRD PARTIES.</li>
</ol>
</li>
<li>LIMITATION OF LIABILITY<br />
YOU EXPRESSLY UNDERSTAND AND AGREE THAT GRIDIRON PREDICT SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF GRIDIRON PREDICT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.
</li><li>EXCLUSIONS AND LIMITATIONS<br />
SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTIONS 6 AND 7 MAY NOT APPLY TO YOU.
</li><li>TRADEMARK INFORMATION<br />
All materials on this site (“Online Materials”), including, without limitation, names, logos, trademarks, service marks, images, articles, columns, graphics, photographs, illustrations, artwork, audio clips, video clips, software, and other elements making up the Service are protected by copyrights and other intellectual property rights owned and controlled by Gridiron Predict or by other parties that have licensed their material to Gridiron Predict. Except as specifically provided herein, no Online Materials may be copied, reproduced, republished, downloaded, posted, transmitted, or distributed in any way, or otherwise used for any purpose, without the prior written permission of their respective owners. You may not add, delete, distort, or otherwise modify the content on this site. Any unauthorized attempt to modify any Online Material, to defeat security features, or to utilize this site for other than its intended purposes is prohibited.
Gridiron Predict L.L.C., Gridiron Predict.com logos and product and service names are trademarks of Gridiron Predict. All other trademarks appearing on the Site are trademarks of their respective owners and our reference to them does not imply or indicate any approval or endorsement by their owners unless such approval or endorsement is expressly made. It is understood that Gridiron Predict provides news and information sites and service and that references to other names and trademarks are necessary in the course of providing news and commentary about the subjects that this site covers. Gridiron Predict will enforce its intellectual property rights to the fullest extent of the law.
If you suspect that any Gridiron Predict content or trademarks are being misused please contact Tanner Guidroz  – gridironpredict@gmail.com as soon as possible.
</li><li>NON-WAIVER<br />
The failure of Gridiron Predict to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred.
</li><li>HEADINGS FOR CONVENIENCE ONLY<br />
The section titles in the Terms are for convenience only and have no legal or contractual effect.
</li><li>VIOLATIONS<br />
Please report any violations of the Terms to our Customer Service Department.
</li><li>INDEMNIFICATION:<br />
You agree to indemnify, defend and hold Gridiron Predict harmless from any claims and expenses, including reasonable attorneys’ fees, arising from or related to any breach by you of any terms of this Agreement.
</li><li>LETTERS OR OTHER SUCH COMMENTS OR MATERIALS:<br />
Any comments, materials, or letters sent by you to Gridiron Predict regarding it’s sites, including without limitation, questions, comments, suggestions, criticisms or the like (“Received Materials”) shall be deemed to be non-confidential and free of any claims of proprietary or personal rights unless you explicitly state in the correspondence that the letter is “not for publication” and contains “private and proprietary” information that may not be distributed. Gridiron Predict shall have no obligation of any kind with respect to such Received Materials and Gridiron Predict will be free to reproduce, use, disclose, exhibit, display, transform, edit, abridge, create derivative works from and/or distribute the Received Materials without limitation or restriction. Furthermore, Gridiron Predict is free to use any ideas, concepts, know-how, or techniques contained in any communication you send to Gridiron Predict for any purpose whatsoever, including, but not limited to, developing, manufacturing, and marketing products using such information, without compensation or any other obligations to anyone, including you.
</li><li>PRIVACY<br />
You can read the Gridiron Predict privacy statement here.
</li><li>RESTRICTIONS ON USE:<br />
You may not use Gridiron Predict sites or their content for any illegal purpose or in any manner inconsistent with these Terms. You agree to use Gridiron Predict sites solely for your own noncommercial use and benefit and not for resale or other transfer or disposition to any other person or entity.
</li><li>SEVERABILITY:<br />
If any provision of this Agreement is found invalid or unenforceable, the provision will be enforced to the maximum extent permissible and the other provisions of this Agreement will remain in force.
</li><li>ENTIRE AGREEMENT:<br />
This Agreement and any other terms and conditions of service on any Gridiron Predict L.L.C. property constitute the entire agreement between you and Gridiron Predict and govern your use of the Service.
</li><li>REFUSAL OR DISCONTINUANCE OF SERVICE:<br />
Gridiron Predict reserves the right to refuse or discontinue service to any user for non-compliance with these Terms.
</li><li>CHOICE OF LAW AND FORUM:<br />
Any dispute arising from the terms of this agreement or breach of this agreement will be governed by the laws of the State of Louisiana and you agree to personal jurisdiction by the state and federal courts sitting in New Orleans, Louisiana. The parties hereby expressly waive trial by jury in any action, proceeding or counterclaim brought by either of the parties against the other on any matters whatsoever arising out of or in any way connected with these Terms and agree to submit to binding arbitration.
</li></ol>
<p>
<strong>I HAVE READ AND UNDERSTAND THIS SUBSCRIBER AGREEMENT AND AGREE TO BE BOUND BY ALL OF ITS TERMS.</strong></p>
