@{
    ViewBag.Title = "Standard Picks";
}
<h1>Standard Picks?</h1>
<p>
Standard Picks
Don’t be deterred if you didn’t start from the beginning of the season, just take the standard picks.  For all weeks prior to signing up for Gridiron Predict, you will receive standard points for those picks. 
</p>
<ul>
<li>Standard Game Picks are picked by the Gridiron Predict Administration each week.</li>
<li>Standard Playoff and Super Bowl Picks are the teams that went to the Playoffs and Super Bowl in the previous season.</li>
</ul>
<p>
The standard picks are not going to put you on top of the leader board; however, if you’re good enough, you can catch up.
</p>